<section class="navigation-bar">
  <nav class="navbar navbar-expand-lg navbar-bg-color py-3">
    <div class="container-fluid align-items-center">
      <a
        href="{{ url_for('main.home') }}"
        class="d-flex justify-content-center align-items-center text-decoration-none">
        <img
          src="/static/img/coffee.png"
          alt="Cafe logo"
          class="cafe-logo mx-4" />
        <p class="lead text-light main-name hover-text-navbar zoom-on-hover mt-4">
          Cafes in London
        </p>
      </a>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-label="Toggle navigation"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-center nav-items-center"
        id="navbarNav">
        <ul class="navbar-nav mx-auto">
          {% if current_user.is_authenticated%}

          <li class="nav-item ms-auto">
            <p class="nav-link text-light" id="greetings">
              Welcome back, {{ current_user.name }}!
            </p>
          </li>

          {% if current_user.id == 1 %}
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="add-cafe"
              href="{{ url_for('main.choose_cafe') }}"
              >Add a new cafe</a
            >
          </li>
          {% endif %}

          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="suggest"
              href="{{ url_for('main.suggest_cafe') }}"
              >Suggest cafe</a
            >
          </li>

          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="logout"
              href="{{ url_for('main.logout') }}"
              >Logout</a
            >
          </li>

          {% if current_user.id != 1 %}

          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="contact"
              href="{{ url_for('main.contact') }}"
              >Contact</a
            >
          </li>

          {% endif %} {% else %}

          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="sign-up"
              href="{{ url_for('main.register') }}"
              >Sign up</a
            >
          </li>
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="log-in"
              href="{{ url_for('main.login') }}"
              >Log in</a
            >
          </li>
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="contact"
              href="{{ url_for('main.contact') }}"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>

    {% endif %}
  </nav>
</section>
