/* General font and color*/

body {
    font-family: 'Merriweather', serif;
    background-color: #F5F5F5;
}

/* Horizontal line */

hr {
    width:40%; 
    display:inline-block;
}

/* Text color in all buttons */

.btn-text {
    color: black;
}

/* Hover crucial words/items */

.zoom-on-hover:hover {
    transform: scale(1.1);
}

/* Navigation bar color */

.navbar-bg-color {
    background-color: #3F2305;
}

/* Navigation bar hamburger color */

.custom-toggler.navbar-toggler {
    border-color: #F2EAD3;
}

/* Navigation bar logo properties */

.cafe-logo {
    width: 50px;
    height: 50px;
    margin: 0px 15px;
}

/* Navigation bar highlight item and text properties */

.nav-link {
    position: relative;
    margin: 15px 15px 10px 10px;
    font-size: 115%;
}
  
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F2EAD3;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgba(242, 234, 211)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navigation bar push items to the center */

.nav-items-center {
    margin-left: -200px;
}

@media (max-width: 1130px) {
    .main-name {
      padding-right: 150px;
    }
  }

/* Cafe name in card color */

.cafe-name {
    background-color: #DFD7BF;
}

/* Registration form properties  */

.register-card-body {
    background-color: #F2EAD3;
    color: #3F2305;
}

.register-btn {
    background-color: #DFD7BF;
    border-color: #3F2305;
    color: #3F2305;
}

input[type="checkbox"]:checked {
    background-color: #3F2305;
}

/* Footer color */

.footer-bg-color {
    background-color: #3F2305;
}

/* Footer highlight item and text properties */

.footer-link {
    position: relative;
    margin: 15px 15px 10px 10px;
    font-size: 115%;
}
  
.footer-link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 1%;
    right: 1%;
    width: 0;
    height: 2px;
    background-color: #F2EAD3;
    transition: width 0.3s ease-in-out;
}

.footer-link:hover::after {
    width: 60%;
}

/* Tab buttons in cafe details properties*/

.tab-btn {
    background-color: #DFD7BF !important;
    border-color: #3F2305 !important;
    color: #3F2305 !important;
    margin: 0;
}

@media only screen and (max-width: 550px) {
    .tab-btn {
        height: 50px;
        width: 95px;
        font-size: 13px;
        font-weight: 600;
    }
}

.tab-btn:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.info-btn {
    border-radius: 0px !important;
}

.tab-btn:last-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

@media only screen and (min-width: 410px) and (max-width: 768px) {
    #location {
        width: 375px;
    }
}

/* width of the district/location field for mobile devices */

@media only screen and (min-width: 410px) and (max-width: 770px)  {
    #location {
        width: 100%;
    }
}

/* height of buttons in preview cafe for mobile devices */

@media only screen and (min-height: 410px) and (max-height: 770px) {
   .admin-btn {
    height: 100px;
   } 
}