<section class="footer">
  <footer class="footer-bg-color text-center py-5">
    <a
      href="#"
      class="d-flex justify-content-center align-items-center text-decoration-none">
      <img
        src="/static/img/coffee.png"
        alt="Cafe logo"
        class="cafe-logo mx-4" />
      <p class="text-light my-5 zoom-on-hover text-center h3">
        Cafes in London <sub>&copy </sub>2023
      </p>
    </a>
    <div class="container py-1 text-decoration-none mt-2">
      <a
        href="https://github.com/M4recki"
        aria-label="GitHub"
        class="text-decoration-none">
        <i class="bi bi-github me-4 ms-5 fs-4 text-light"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/marek-barański-516639248/"
        aria-label="LinkedIn"
        class="text-decoration-none">
        <i class="bi bi-linkedin me-4 ms-2 fs-4 text-light"></i>
      </a>
      <a
        href="https://progr4mmingskillz.blogspot.com"
        aria-label="Blogspot"
        class="text-decoration-none">
        <i class="bi bi-type-bold me-4 ms-2 fs-4 text-light"></i>
      </a>
      <a
        href="https://www.facebook.com/marek.baranski.902/"
        aria-label="Facebook"
        class="text-decoration-none">
        <i class="bi bi-facebook me-4 ms-2 fs-4 text-light"></i>
      </a>
    </div>
  </footer>
</section>
