<section class="navigation-bar">
  <nav class="navbar navbar-expand-lg navbar-bg-color py-3">
    <div class="container-fluid">
      <a href="#">
        <img src="/static/img/coffee.png" alt="Cafe logo" class="cafe-logo" />
      </a>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-label="Toggle navigation"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="suggest"
              href="#"
              >Suggest cafe</a
            >
          </li>
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="sign-up"
              href="#"
              >Sign up</a
            >
          </li>
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="log-in"
              href="#"
              >Log in</a
            >
          </li>
          <li class="nav-item ms-auto">
            <a
              class="nav-link text-light hover-text-navbar"
              id="contact"
              href="#"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
